TaxiData/yellow_tripdata_2022-01.parquet
TaxiData/yellow_tripdata_2022-02.parquet
TaxiData/yellow_tripdata_2022-03.parquet
TaxiData/yellow_tripdata_2022-04.parquet
TaxiData/yellow_tripdata_2022-05.parquet
TaxiData/yellow_tripdata_2022-06.parquet
TaxiData/yellow_tripdata_2022-07.parquet
TaxiData/yellow_tripdata_2022-08.parquet
TaxiData/yellow_tripdata_2022-09.parquet
TaxiData/yellow_tripdata_2022-10.parquet
TaxiData/yellow_tripdata_2022-11.parquet
TaxiData/yellow_tripdata_2022-12.parquet
F:\30-Work\DataEngineer\myenv
